body.form-membership {
	padding: 2rem 0;
	background-color: #dddddd;


	.form-wrapper {
		background-color: white;
		padding: 3rem;
		border-radius: .50rem;
		width: 430px;
		margin: 4rem auto;
		text-align: center;

		.logo {
			text-align: center;
			margin-bottom: 3rem;
		}

		h5 {
			text-align: center;
			margin-bottom: 2rem;
		}

		form {
			.form-control {
				margin-bottom: 1.5rem;
			}
		}

		hr {
			margin: 2rem 0;
		}
	}
}